<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanmi.sbc.bookmeta.mapper.GoodsEvaluateAnalyseMapper">
    <resultMap id="GoodsEvaluateAnalyseMap" type="com.wanmi.sbc.bookmeta.entity.GoodsEvaluateAnalyse">
        <result property="id" column="incr_id" jdbcType="INTEGER"/>
        <result property="evaluateId" column="evaluate_id" jdbcType="INTEGER"/>
        <result property="evaluateContentKey" column="evaluate_content_key" jdbcType="VARCHAR"/>
        <result property="evaluateContent" column="evaluate_content" jdbcType="VARCHAR"/>
        <result property="spuId" column="spu_id" jdbcType="VARCHAR"/>
        <result property="skuId" column="sku_id" jdbcType="VARCHAR"/>
        <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from default_search_terms where id = #{id}
    </delete>
    <select id="getByPage" resultMap="GoodsEvaluateAnalyseMap">
        select *
        from goods_evaluate_analyse
        <if test="name !=null and name !='' ">
            where evaluate_content like concat('%',#{name},'%') or evaluate_content_key like concat('%',#{name},'%')
        </if>
        limit #{limitIndex}, #{limitSize}
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1)
        from goods_evaluate_analyse
        <if test="name !=null and name !='' ">
            where evaluate_content like concat('%',#{name},'%') or evaluate_content_key like concat('%',#{name},'%')
        </if>
    </select>

    <select id="getAll" resultMap="GoodsEvaluateAnalyseMap">
        select incr_id, evaluate_id, evaluate_content_key, evaluate_content, spu_id, sku_id, IFNULL(sku_name,'') as sku_name
        from goods_evaluate_analyse
    </select>
</mapper>