<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanmi.sbc.bookmeta.mapper.MetaBookFigureMapper">

    <resultMap type="com.wanmi.sbc.bookmeta.entity.MetaBookFigure" id="MetaBookFigureMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="bookId" column="book_id" jdbcType="INTEGER"/>
        <result property="figureId" column="figure_id" jdbcType="INTEGER"/>
        <result property="figureType" column="figure_type" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MetaBookFigureMap">
        select
          id, book_id, figure_id, figure_type, create_time, update_time, del_flag
        from meta_book_figure
        where id = #{id}
            and del_flag = 0
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MetaBookFigureMap">
        select
          id, book_id, figure_id, figure_type, create_time, update_time, del_flag
        from meta_book_figure
        <where>
            <if test="metaBookFigure.id != null">
                and id = #{metaBookFigure.id}
            </if>
            <if test="metaBookFigure.bookId != null">
                and book_id = #{metaBookFigure.bookId}
            </if>
            <if test="metaBookFigure.figureId != null">
                and figure_id = #{metaBookFigure.figureId}
            </if>
            <if test="metaBookFigure.figureType != null">
                and figure_type = #{metaBookFigure.figureType}
            </if>
            <if test="metaBookFigure.createTime != null">
                and create_time = #{metaBookFigure.createTime}
            </if>
            <if test="metaBookFigure.updateTime != null">
                and update_time = #{metaBookFigure.updateTime}
            </if>
            <if test="metaBookFigure.delFlag != null">
                and del_flag = #{metaBookFigure.delFlag}
            </if>
            and del_flag = 0
        </where>
        ORDER BY create_time DESC
        limit #{limitIndex}, #{limitSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from meta_book_figure
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="bookId != null">
                and book_id = #{bookId}
            </if>
            <if test="figureId != null">
                and figure_id = #{figureId}
            </if>
            <if test="figureType != null">
                and figure_type = #{figureType}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            and del_flag = 0
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into meta_book_figure(book_id, figure_id, figure_type, create_time, update_time, del_flag)
        values (#{bookId}, #{figureId}, #{figureType}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into meta_book_figure(book_id, figure_id, figure_type, create_time, update_time, del_flag)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.bookId}, #{entity.figureId}, #{entity.figureType}, #{entity.createTime}, #{entity.updateTime}, #{entity.delFlag})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into meta_book_figure(book_id, figure_id, figure_type, create_time, update_time, del_flag)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.bookId}, #{entity.figureId}, #{entity.figureType}, #{entity.createTime}, #{entity.updateTime}, #{entity.delFlag})
        </foreach>
        on duplicate key update
        book_id = values(book_id),
        figure_id = values(figure_id),
        figure_type = values(figure_type),
        create_time = values(create_time),
        update_time = values(update_time),
        del_flag = values(del_flag)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update meta_book_figure
        <set>
            <if test="bookId != null">
                book_id = #{bookId},
            </if>
            <if test="figureId != null">
                figure_id = #{figureId},
            </if>
            <if test="figureType != null">
                figure_type = #{figureType},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update meta_book_figure set del_flag = 1 where id = #{id}
    </delete>




    <!-- 采集图书作者信息 -->
    <select id="collectMetaBookFigureByTime" resultMap="MetaBookFigureMap">
        select * from meta_book_figure where  update_time <![CDATA[ >  ]]> #{beginTime} and update_time <![CDATA[ <=  ]]> #{endTime}
                                        and id <![CDATA[ >  ]]> #{fromId} ORDER BY id asc limit #{pageSize}
    </select>

    <!-- 采集图书作者信息 -->
    <select id="collectMetaBookFigureByIds" resultMap="MetaBookFigureMap">
        select * from meta_book_figure where figure_id in
        <foreach collection="ids" item="model" open="(" close=")" separator=",">
            #{model}
        </foreach>
    </select>
</mapper>

