<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanmi.sbc.bookmeta.mapper.MetaBookGroupMapper">

    <resultMap type="com.wanmi.sbc.bookmeta.entity.MetaBookGroup" id="MetaBookGroupMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MetaBookGroupMap">
        select
          id, type, name, image, create_time, update_time, del_flag, descr
        from meta_book_group
        where id = #{id}
            and del_flag = 0
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MetaBookGroupMap">
        select
          id, type, name, image, create_time, update_time, del_flag, descr
        from meta_book_group
        <where>
            <if test="metaBookGroup.id != null">
                and id = #{metaBookGroup.id}
            </if>
            <if test="metaBookGroup.type != null">
                and type = #{metaBookGroup.type}
            </if>
            <if test="metaBookGroup.name != null and metaBookGroup.name != ''">
                and name like concat('%', #{metaBookGroup.name}, '%')
            </if>
            <if test="metaBookGroup.image != null and metaBookGroup.image != ''">
                and image = #{metaBookGroup.image}
            </if>
            <if test="metaBookGroup.createTime != null">
                and create_time = #{metaBookGroup.createTime}
            </if>
            <if test="metaBookGroup.updateTime != null">
                and update_time = #{metaBookGroup.updateTime}
            </if>
            <if test="metaBookGroup.delFlag != null">
                and del_flag = #{metaBookGroup.delFlag}
            </if>
            <if test="metaBookGroup.descr != null and metaBookGroup.descr != ''">
                and descr = #{metaBookGroup.descr}
            </if>
            and del_flag = 0
        </where>
        ORDER BY create_time DESC
        limit #{limitIndex}, #{limitSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from meta_book_group
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="image != null and image != ''">
                and image = #{image}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="descr != null and descr != ''">
                and descr = #{descr}
            </if>
            and del_flag = 0
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into meta_book_group(type, name, image, create_time, update_time, del_flag, descr)
        values (#{type}, #{name}, #{image}, #{createTime}, #{updateTime}, #{delFlag}, #{descr})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into meta_book_group(type, name, image, create_time, update_time, del_flag, descr)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.type}, #{entity.name}, #{entity.image}, #{entity.createTime}, #{entity.updateTime}, #{entity.delFlag}, #{entity.descr})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into meta_book_group(type, name, image, create_time, update_time, del_flag, descr)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.type}, #{entity.name}, #{entity.image}, #{entity.createTime}, #{entity.updateTime}, #{entity.delFlag}, #{entity.descr})
        </foreach>
        on duplicate key update
        type = values(type),
        name = values(name),
        image = values(image),
        create_time = values(create_time),
        update_time = values(update_time),
        del_flag = values(del_flag),
        descr = values(descr)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update meta_book_group
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="descr != null and descr != ''">
                descr = #{descr},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update meta_book_group set del_flag = 1 where id = #{id}
    </delete>


    <!-- 采集出版社 -->
    <select id="collectMetaBookGroupByTime" resultMap="MetaBookGroupMap">
        select * from meta_book_group where update_time <![CDATA[ >  ]]> #{beginTime} and update_time <![CDATA[ <=  ]]> #{endTime}
                                       and id <![CDATA[ >  ]]> #{fromId} ORDER BY id asc limit #{pageSize}
    </select>
</mapper>

