<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanmi.sbc.bookmeta.mapper.MetaFigureAwardMapper">

    <resultMap type="com.wanmi.sbc.bookmeta.entity.MetaFigureAward" id="MetaFigureAwardMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="figureId" column="figure_id" jdbcType="INTEGER"/>
        <result property="awardId" column="award_id" jdbcType="INTEGER"/>
        <result property="awardTime" column="award_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MetaFigureAwardMap">
        select
          id, figure_id, award_id, award_time, create_time, update_time, del_flag
        from meta_figure_award
        where id = #{id}
            and del_flag = 0
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MetaFigureAwardMap">
        select
          id, figure_id, award_id, award_time, create_time, update_time, del_flag
        from meta_figure_award
        <where>
            <if test="metaFigureAward.id != null">
                and id = #{metaFigureAward.id}
            </if>
            <if test="metaFigureAward.figureId != null">
                and figure_id = #{metaFigureAward.figureId}
            </if>
            <if test="metaFigureAward.awardId != null">
                and award_id = #{metaFigureAward.awardId}
            </if>
            <if test="metaFigureAward.awardTime != null">
                and award_time = #{metaFigureAward.awardTime}
            </if>
            <if test="metaFigureAward.createTime != null">
                and create_time = #{metaFigureAward.createTime}
            </if>
            <if test="metaFigureAward.updateTime != null">
                and update_time = #{metaFigureAward.updateTime}
            </if>
            <if test="metaFigureAward.delFlag != null">
                and del_flag = #{metaFigureAward.delFlag}
            </if>
            and del_flag = 0
        </where>
        limit #{limitIndex}, #{limitSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from meta_figure_award
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="figureId != null">
                and figure_id = #{figureId}
            </if>
            <if test="awardId != null">
                and award_id = #{awardId}
            </if>
            <if test="awardTime != null">
                and award_time = #{awardTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            and del_flag = 0
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into meta_figure_award(figure_id, award_id, award_time, create_time, update_time, del_flag)
        values (#{figureId}, #{awardId}, #{awardTime}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into meta_figure_award(figure_id, award_id, award_time, create_time, update_time, del_flag)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.figureId}, #{entity.awardId}, #{entity.awardTime}, #{entity.createTime}, #{entity.updateTime}, #{entity.delFlag})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into meta_figure_award(figure_id, award_id, award_time, create_time, update_time, del_flag)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.figureId}, #{entity.awardId}, #{entity.awardTime}, #{entity.createTime}, #{entity.updateTime}, #{entity.delFlag})
        </foreach>
        on duplicate key update
        figure_id = values(figure_id),
        award_id = values(award_id),
        award_time = values(award_time),
        create_time = values(create_time),
        update_time = values(update_time),
        del_flag = values(del_flag)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update meta_figure_award
        <set>
            <if test="figureId != null">
                figure_id = #{figureId},
            </if>
            <if test="awardId != null">
                award_id = #{awardId},
            </if>
            <if test="awardTime != null">
                award_time = #{awardTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update meta_figure_award set del_flag = 1 where id = #{id}
    </delete>

</mapper>

